body {
	margin: 0;
	font-family: 'Lobster', cursive;

	font-size: 20px;
	line-height: 30px;
}

/*Header section*/

header{
	background-color: black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
footer{
	background-color: 96CEB4;
	text-align: center;
	padding: 50px;

 background-image: url(images/postwar.webp);
 text-align: center;
 padding: 10px;
}

footer p{
 margin: 0;
 color:  white;
 font-size: 20px;
}


footer a:hover{
 background-color: white;
 color: black;
}
